<div style="margin: 5px 100px;padding: 5px 290px;">
  <div class="row">
    <div class="col-sm-4">Panel1</div>
    <div class="col-sm-4">
      <input id="bck" class="grid inborder" #validation1 type="text" (keydown.enter)="chng($event.target.value)">
    </div>
    <div class="col-sm-4">
      <button class="editCLs" (click)="edit1()">Edit</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">Panel2</div>
    <div class="col-sm-4">
      <input id="bck" class="grid inborder" #validation2 type="text" (keydown.enter)="chng($event.target.value)">

    </div>
    <div class="col-sm-4">
        <button class="editCLs" (click)="edit2()">Edit</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">Panel3</div>
    <div class="col-sm-4">
      <input id="bck" class="grid inborder" #validation3 type="text" (keydown.enter)="chng($event.target.value)">

    </div>
    <div class="col-sm-4">
        <button class="editCLs" (click)="edit3()">Edit</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">Panel4</div>
    <div class="col-sm-4">
      <input id="bck" class="grid inborder" #validation4 type="text" (keydown.enter)="chng($event.target.value)">

    </div>
    <div class="col-sm-4">
        <button class="editCLs" (click)="edit4()">Edit</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">Panel5</div>
    <div class="col-sm-4">
      <input id="bck" class="grid inborder" #validation5 type="text" (keydown.enter)="chng($event.target.value)">

    </div>
    <div class="col-sm-4">
        <button class="editCLs" (click)="edit5()">Edit</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">Panel6</div>
    <div class="col-sm-4">
      <input id="bck" class="grid inborder" #validation6 type="text" (keydown.enter)="chng($event.target.value)">

    </div>
    <div class="col-sm-4">
        <button class="editCLs" (click)="edit6()">Edit</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">Panel7</div>
    <div class="col-sm-4">
      <input id="bck" class="grid inborder" #validation7 type="text" (keydown.enter)="chng($event.target.value)">

    </div>
    <div class="col-sm-4">
        <button class="editCLs" (click)="edit7()">Edit</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">Panel8</div>
    <div class="col-sm-4">
      <input id="bck" class="grid inborder" #validation8 type="text" (keydown.enter)="chng($event.target.value)">

    </div>
    <div class="col-sm-4">
        <button class="editCLs" (click)="edit8()">Edit</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">Panel9</div>
    <div class="col-sm-4">
      <input id="bck" class="grid inborder" #validation9 type="text" (keydown.enter)="chng($event.target.value)">

    </div>
    <div class="col-sm-4">
        <button class="editCLs" (click)="edit9()">Edit</button>
    </div>
  </div>
</div>

<div class="mapStyle">
  {{mapping}}
  </div>